.animated-footer-text {
  background: linear-gradient(
    90deg,
    #a855f7, /* purple */
    #ec4899, /* pink */
    #fef08a, /* yellow shimmer */
    #ec4899, /* pink */
    #a855f7  /* purple */
  );
  background-size: 250% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer-effect 5s linear infinite;
  animation-delay: 2s;
}

@keyframes shimmer-effect {
  0% {
    background-position: 150% 50%;
  }
  100% {
    background-position: -50% 50%;
  }
} 