.scrolling-logos-container {
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, transparent, white 20%, white 80%, transparent);
  mask-image: linear-gradient(to right, transparent, white 20%, white 80%, transparent);
}

.scrolling-logos {
  display: inline-block;
  animation: scroll-left-to-right 20s linear infinite;
}

@keyframes scroll-left-to-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
} 